body {
  background-image: url(../images/sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.search-form {
  text-align: center;
  margin-top: 30px;
}
.search__input {
  border-radius: 8px;
  padding-left: 20px;
  font-size: 25px;
  width: 400px;
  height: 60px;
}
.search__input::placeholder {
  font-size: 25px;
  line-height: 50px;
}
.gallery {
  padding: 0;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.gallery__item {
  margin: 20px;
}
.photo__img {
  width: 320px;
  height: 210px;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-item + .stats-item {
  margin-left: 20px;
}
.target {
  height: 30px;
  width: 100wv;
  background-color: transparent;
}
